# 第一次大作業

根據finance.yahoo.com網站資料，我們考慮樣本期間(2019-01-01)到(2020-11-30)，討論COVID-19期間。根據HW8的結果，我們得到美國與台灣股市報酬率與其匯率報酬率之間的關係，現在我們單純考慮股票市場，題目如下：

1. 請試著對VIX變化量與S&P500指數日報酬率做出敘述統計。
    - 平均數、標準差、偏態、峰態
    - 根據上述結果，討論此兩變數是否符合常態分佈
    - 相關係數，一階自相關係數
    - 根據上述結果，討論此兩變數的資料結構

2. 請試著做出以下分析得到VIX變化量與S&P500指數報酬率的關係為正相關、負相關、無相關。
    - 相關係數
    - 散布圖
    - 迴歸分析

3. 請試著做出以下分析得到S&P500指數股價報酬與移動平均(`MA5`與`MA20`)的關係為正相關、負相關、無相關。
    - 相關係數
    - 散布圖
    - 回歸分析

4. 請利用迴歸分析結果，討論移動平均和VIX報酬率對於S&P500報酬的預測能力。

In [1]:
# 移動平均線: ma5,ma20
price = data.gspc
ma5 = price.rolling(5).mean()
ma20 = price.rolling(20).mean()

NameError: name 'data' is not defined

### 繳交作業注意事項
1. 檔名統一為 "BHW1_學號_班別_姓名"。例如: `BHW1_08151320_經1C_王大明` (扣2分) 
2. 繳交時間為12/30中午12點前 (扣4分)
3. 繳交方式：Moodle的作業區繳交 (扣2分)
4. 若未依規定繳交，成績折扣如上所示。

In [7]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

In [14]:
cols = ['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume']

gspc = pd.read_csv("GSPC.csv")
vix = pd.read_csv("VIX.csv")
gspc.columns, vix.columns = cols, cols

vix.head()

         date       open       high        low      close   adjclose  volume
0  2019-01-02  27.540001  28.530001  23.049999  23.219999  23.219999       0
1  2019-01-03  25.680000  26.600000  24.049999  25.450001  25.450001       0
2  2019-01-04  24.360001  24.480000  21.190001  21.379999  21.379999       0
3  2019-01-07  22.059999  22.709999  20.910000  21.400000  21.400000       0
4  2019-01-08  20.959999  22.030001  20.090000  20.469999  20.469999       0

In [15]:
gspc['vix_close'] = vix.close
gspc.head()

,date,open,high,low,close,adjclose,volume,vix_close
0,2019-01-02,2476.959961,2519.489990,2467.469971,2510.030029,2510.030029,3733160000,23.219999
1,2019-01-03,2491.919922,2493.139893,2443.959961,2447.889893,2447.889893,3822860000,25.450001
2,2019-01-04,2474.330078,2538.070068,2474.330078,2531.939941,2531.939941,4213410000,21.379999
3,2019-01-07,2535.610107,2566.159912,2524.560059,2549.689941,2549.689941,4104710000,21.400000
4,2019-01-08,2568.110107,2579.820068,2547.560059,2574.409912,2574.409912,4083030000,20.469999